// Responsive
@mixin respond-to($media) {
    @if $media == ltPhone {
        @media only screen and (min-width: 401px) { @content; }
    }
    @else if $media == phablet {
        @media only screen and (min-width: 550px) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 768px) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 1025px) { @content; }
    }
    @else if $media == desktopHD {
        @media only screen and (min-width: 1200px) { @content; }
    }
}

// Color
@mixin color-transition($timer) {
    transition: color $timer ease-in-out;
    -webkit-transition: color $timer ease-in-out;
}

// Fonts
//$sansSerifed: "PT Sans", sans-serif;
$sansSerifed: 'Gentium Book Basic', serif;
//$sansSerifed: 'Lato', sans-serif;
$sansTitle: "PT Sans Narrow", sans-serif;
//$sansTitle: 'Gentium Book Basic', serif;

// Colors
$blue: rgb(71,150,255);
$orange: #FB920C;
$darkTeal: #07393c;
$sand: #d2c057;
$navBlueTrans: rgba(29,42,64,.65);
$navBlue: rgba(29,42,64,.95);
$navBlueSolid: rgb(29,42,64);
$navBlueDark: rgb(0,5,27);
$offYellow: rgb(255,221,23);
$brown: #564535;


// Styles
nav {
    transform: translateY(-45px);
    font-family: $sansTitle;
    font-size: 1.5rem;
    height: 45px;
    text-align: center;
    width: 100%;
    color: white;
    background-color: $navBlueSolid;
    z-index: 500;
    position: fixed;
    top: 0px;
    .pad-left {
        padding-left: 15px;
        @include respond-to(ltPhone) {
            padding-left: 30px;
        }
    }
    .pad-right {
        padding-right: 15px;
        @include respond-to(ltPhone) {
            padding-right: 30px;
        }
    }
    .contact-trigger{
        cursor: pointer;
        text-transform: uppercase;
    }
    .contact-trigger-contain {
        z-index: 500;
        position: relative;
    }
    .small-logo {
        display: none;
        @include respond-to(tablet) {
            cursor: pointer;
            display: inline-block;
            width: 69px;
            height: 30px;
            background: url('../images/nisos-logo-white-small.png') no-repeat;
            background-size: 69px 30px;
        }
    }
    #contact-drop-bg, #contact-drop{
        opacity: 0;
        position: absolute;
        top: 35px;
        height: 80px;
        width: 150px;
        margin-left: -80px;
        text-align: center;
        padding: 10px;
        z-index: -200;
        font-family: $sansSerifed;
        @include respond-to(tablet){
            height: 50px;
            width: 190px;
        }
    }
    #contact-drop-bg {
        background-color: rgba(255,255,255,0.9);
    }
    #contact-drop {
        color: black;
        font-size: 1.2rem;
        @include respond-to(tablet) {
            font-size: 1.6rem;
        }
        a, a:visited {
            text-transform: capitalize;
            color: black;
            text-decoration: none;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    li {
        margin-top: 10px;
        display:inline;
        float: left;
    }
    li a {
        display: block;
        //padding-right: 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        @include respond-to(ltPhone) {
            //padding-right: 30px;
        }
        a:hover {
            color: white;
        }
    }
    #twitterstream {
        display: none;
        float: right;
        cursor: pointer;
        margin: 10px 10px 0px 0px;
        @include respond-to(desktop) {
            display: block;
        }
    }
}
#twitterstream-holder-bg {
    display: none;
    @include respond-to(desktop) {
        display: block;
        z-index: 999;
        height: 310px;
        width: 210px;
        position: fixed;
        top: 45px;
        right: 0;
        margin-right: -210px;
        background-color: rgba(255,255,255,0.7);
    }
}
#twitterstream-holder {
    display: none;
    @include respond-to(desktop) {
        display: block;
        position: fixed;
        top: 50px;
        right: 10px;
        height: 300px;
        width: 190px;
        margin-right: -210px;
        z-index: 1000;
    }
}

header {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    height: 100vh;
    background-image: url('../images/splash-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100vh;
    background-attachment: fixed;
    overflow: hidden;
    @include respond-to(desktop) {
        background-image: none;
    }
    #splash-bg {
        display: none;
        @include respond-to(desktop) {
            display: block;
            background: url('../images/splash-bg.jpg') no-repeat center center;
            background-size: cover;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    #birds-back {
        display: none;
        @include respond-to(desktop) {
            display: block;
            background: url('../images/birds-back.png') no-repeat center center;
            background-size: cover;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    #tower {
        display: none;
        @include respond-to(desktop) {
            display: block;
            background: url('../images/tower.png') no-repeat center center;
            background-size: cover;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    #birds-front {
        display: none;
        @include respond-to(desktop) {
            display: block;
            background: url('../images/birds-front.png') no-repeat center center;
            background-size: cover;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    #blue-bg {
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: rgba(255,255,255,1);
        #logo-svg-hold {
            position: absolute;
            top: 45%;
            left: 50%;
            opacity: 0;
            margin-left: -150px;
            margin-top: -66px;
            width: 300px;
            height: 132px;
            @include respond-to(tablet) {
                margin-left: -256px;
                margin-top: -112px;
                width: 512px;
                height: 224px;
            }
            @include respond-to(desktop) {
                margin-left: -402px;
                margin-top: -176px;
                width: 804px;
                height: 352px;
            }
            #logo-svg {
                width: 300px;
                height: 132px;
                @include respond-to(tablet) {
                    width: 512px;
                    height: 224px;
                }
                @include respond-to(desktop) {
                    width: 804px;
                    height: 352px;
                }
            }
        }
        #slogan {
            position: absolute;
            bottom: 10%;
            left: 50%;
            width: 300px;
            height: 15px;
            margin-left: -150px;
            @include respond-to(tablet) {
                width: 600px;
                height: 30px;
                margin-left: -300px;
            }
            @include respond-to(desktop) {
                width: 800px;
                height: 40px;
                margin-left: -400px;
            }
            #slogan-svg {
                width: 300px;
                height: 15px;
                @include respond-to(tablet) {
                    width: 600px;
                    height: 30px;
                }
                @include respond-to(desktop) {
                    width: 800px;
                    height: 40px;
                }
            }
        }
    }
}

.slogans {
    height: 25px;
    width: 269px;
    position: relative;
    margin: 20px auto;
    @include respond-to(tablet) {
        width: 400px;
        height: 38px;
    }
    @include respond-to(desktop) {
        width: 590px;
        height: 55px;
    }
    .slogan-svg {
        width: 269px;
        position: absolute;
        bottom: 0;
        @include respond-to(tablet) {
            width: 400px;
        }
        @include respond-to(desktop) {
            width: 590px;
        }
    }
}

.slogans-long {
    height: 25px;
    width: 300px;
    position: relative;
    margin: 20px auto;
    @include respond-to(tablet) {
        width: 470px;
        height: 38px;
    }
    @include respond-to(desktop) {
        width: 680px;
        height: 55px;
    }
    .slogan-long-svg {
        width: 300px;
        position: absolute;
        bottom: 0;
        @include respond-to(tablet) {
            width: 470px;
        }
        @include respond-to(desktop) {
            width: 680px;
        }
    }
}

#problem {
    position: relative;
    background-color: $navBlueSolid;
    z-index: 3;
    display: block;
    overflow: hidden;
    padding-bottom: 40px;
    #slogan-2-1-underline, #slogan-2-2-underline {
        height: 10px;
        width: 300px;
        position: relative;
        margin: 20px auto 40px;
        @include respond-to(tablet) {
            width: 400px;
            height: 10px;
        }
        @include respond-to(desktop) {
            width: 500px;
            height: 10px;
        }
        #slogan-2-1-underline-svg, #slogan-2-2-underline-svg {
            width: 300px;
            position: absolute;
            bottom: 0;
            @include respond-to(tablet) {
                width: 400px;
            }
            @include respond-to(desktop) {
                width: 500px;
            }
        }
    }
    #mission-content {
        font-weight: 400;
        font-family: $sansSerifed;
        font-size: 1.6rem;
        color: white;
        margin: 0px auto 40px;
        text-align: center;
        @include respond-to(tablet) {
            font-size: 1.8rem;
        }
        @include respond-to(desktop) {
            font-size: 2.5rem;
        }
        .threat-para {
            position: relative;
            display: block;
            opacity: 0;
            margin: 0px auto 20px auto;
            @include respond-to(desktop) {
                width: 960px;
                margin: 0px auto 40px auto;
            }
            .threat-para-strong {
                font-weight: 400;
                font-family: $sansSerifed;
                text-transform: uppercase;
            }
        }
    }
}
.shoutquote {
    width: 250px;
    font-weight: bold;
    text-align: center;
    position: static;
    z-index: 0;
    font-size: 1.8rem;
    opacity: 1;
    margin: 0px auto;
    padding: 60px 0px;
    @include respond-to(desktop) {
        width: 450px;
        padding: 60px 80px;
        font-size: 2rem;
    }
}
#raison {
    position: relative;
    background-color: $navBlueSolid;
    color: white;
    z-index: 3;
    display: block;
    font-family: $sansSerifed;
    font-size: 1.6rem;
    @include respond-to(tablet) {
        font-size: 2rem;
    }
    @include respond-to(desktop) {
        font-size: 2.5rem;
    }
    #raison-splash {
        width: 100%;
        height: 70vh;
        display: block;
        background: url('../images/NYC.jpg') no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
        @include respond-to(desktop) {
            height: 80vh;
            background-attachment: fixed;
        }
        #quote-1 {
            display: block;
            font-family: $sansSerifed;
            color: white;
            text-shadow: 2px 2px 2px black; 
            @include respond-to(desktop) {
                float: left;
            }
        }
    }
    //#slogan-3 {
    //    height: 21px;
    //    width: 280px;
    //    position: relative;
    //    margin: 0px auto;
    //    padding: 0px 0px 0px 0px;
    //    @include respond-to(tablet) {
    //        height: 45px;
    //        width: 600px;
    //    }
    //    @include respond-to(desktop) {
    //        height: 60px;
    //        width: 800px;
    //    }
    //    #slogan-3-svg {
    //        width: 280px;
    //        position: absolute;
    //        @include respond-to(tablet) {
    //            width: 600px;
    //        }
    //        @include respond-to(desktop) {
    //            width: 800px;
    //        }
    //    }
    //}
    #slogan-3-underline {
        height: 10px;
        width: 200px;
        position: relative;
        margin: 20px auto 40px;
        @include respond-to(tablet) {
            width: 200px;
            height: 10px;
        }
        @include respond-to(desktop) {
            width: 200px;
            height: 10px;

        }
        #slogan-3-underline-svg {
            width: 200px;
            position: absolute;
            bottom: 0;
            @include respond-to(tablet) {
                width: 200px;
            }
            @include respond-to(desktop) {
                width: 200px;
            }
        }
    }
    #slogan-3-1-underline {
        height: 10px;
        width: 200px;
        position: relative;
        margin: 20px auto 40px;
        @include respond-to(tablet) {
            width: 200px;
            height: 10px;
        }
        @include respond-to(desktop) {
            width: 200px;
            height: 10px;

        }
        #slogan-3-1-underline-svg {
            width: 200px;
            position: absolute;
            bottom: 0;
            @include respond-to(tablet) {
                width: 200px;
            }
            @include respond-to(desktop) {
                width: 200px;
            }
        }
    }
    #reasons {
        @include respond-to(tablet) {
            margin-bottom: 20px;
        }
        @include respond-to(desktop) {
            margin-bottom: 20px;
        }
        .reason {
            text-align: center;
            opacity: 0;
        }
    }
}
.nisosbird {
    margin: 40px auto -35px;
    height: 80px;
    text-align: center;
    img {
        height: 80px;
    }
}
#approach {
    position: relative;
    background-color: $navBlueSolid;
    color: white;
    width: 100%;
    z-index: 3;
    font-size: 1.6rem;
    padding-bottom: 40px;
    @include respond-to(tablet) {
        font-size: 2rem;
    }
    @include respond-to(desktop) {
        font-size: 2.5rem;
    }
    #approach-splash {
        width: 100%;
        display: block;
        height: 70vh;
        background: url('../images/industrial.jpg') no-repeat center right;
        background-size: cover;
        background-attachment: scroll;
        @include respond-to(desktop) {
            height: 80vh;
            background-attachment: fixed;
        }
        #quote-2 {
            display: block;
            font-family: $sansSerifed;
            color: white;  
            text-shadow: 2px 2px 2px black;      
            @include respond-to(desktop) {
                float: right;
                color: black;
            }
        }
    }
    //#slogan-4 {
    //    height: 21px;
    //    width: 300px;
    //    position: relative;
    //    margin: 0px auto 20px;
    //    @include respond-to(tablet) {
    //        height: 42px;
    //        width: 600px;
    //    }
    //    @include respond-to(desktop) {
    //        height: 55px;
    //        width: 800px;
    //    }
    //    #slogan-4-svg {
    //        width: 300px;
    //        position: absolute;
    //        bottom: 0;
    //        @include respond-to(tablet) {
    //            width: 600px;
    //        }
    //        @include respond-to(desktop) {
    //            width: 800px;
    //        }
    //    }
    //}
    #slogan-4-underline, #slogan-4-1-underline {
        height: 10px;
        width: 200px;
        position: relative;
        margin: 20px auto 40px;
        @include respond-to(tablet) {
            width: 200px;
            height: 10px;
        }
        @include respond-to(desktop) {
            width: 200px;
            height: 10px;

        }
        #slogan-4-underline-svg, #slogan-4-1-underline-svg {
            width: 200px;
            position: absolute;
            bottom: 0;
            @include respond-to(tablet) {
                width: 200px;
            }
            @include respond-to(desktop) {
                width: 200px;
            }
        }
    }
    .stos {
        font-family:$sansSerifed;
        text-align: center;
        opacity: 0;
    }
    .sto-title {
        width: 100%;
        font-size: 1.8em;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        margin-bottom: 18px;
    }
    .sto-cont {
        display: block;
        width: 100%;
        clear: both;
        .sto {
            text-transform: uppercase;
            width: 260px;
            display: block;
            float: left;
            padding-left: 20px;
        }
        .sto-desc {
            float: left;
            display: block;
            width: 680px;
            padding: 0px 0px 20px 0px;
            li {
                margin-bottom: 0px;
                margin-left: 10px;
                list-style-type: circle;
                list-style-position: inside; 
            }
        }
    }
}
#discretion {
    position: relative;
    background-color: $navBlueSolid;
    width: 100%;
    z-index: 3;
    font-size: 1.6rem;
    padding-bottom: 40px;
    @include respond-to(tablet) {
        font-size: 2rem;
    }
    @include respond-to(desktop) {
        font-size: 2.5rem;
    }
    #discretion-splash {
        width: 100%;
        display: block;
        height: 70vh;
        background: url('../images/oilrigs.jpg') no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
        @include respond-to(desktop) {
            height: 80vh;
            background-attachment: fixed;
        }
        #quote-3 {
            display: block;
            font-family: $sansSerifed;
            color: white;  
            text-shadow: 2px 2px 2px black;  
            @include respond-to(desktop) {
                float: left;
            }    
        }
    }
    //#slogan-5 {
    //    height: 21px;
    //    width: 300px;
    //    position: relative;
    //    margin: 0px auto 20px;
    //    @include respond-to(tablet) {
    //        height: 42px;
    //        width: 600px;
    //    }
    //    @include respond-to(desktop) {
    //        height: 55px;
    //        width: 800px;
    //    }
    //    #slogan-5-svg {
    //        width: 300px;
    //        position: absolute;
    //        bottom: 0;
    //        @include respond-to(tablet) {
    //            width: 600px;
    //        }
    //        @include respond-to(desktop) {
    //            width: 800px;
    //        }
    //    }
    //}
    #slogan-5-underline, #slogan-5-1-underline {
        height: 10px;
        width: 200px;
        position: relative;
        margin: 20px auto 40px;
        @include respond-to(tablet) {
            width: 200px;
            height: 10px;
        }
        @include respond-to(desktop) {
            width: 200px;
            height: 10px;

        }
        #slogan-5-underline-svg, #slogan-5-1-underline-svg {
            width: 200px;
            position: absolute;
            bottom: 0;
            @include respond-to(tablet) {
                width: 200px;
            }
            @include respond-to(desktop) {
                width: 200px;
            }
        }
    }
    #pitch {
        text-align: center;
        color: white;
        font-family: $sansSerifed;
    }
    .pitches {
        opacity: 0;
    }
}
#osprey-end {
    font-size: 1.6rem;
    position: relative;
    width: 100%;
    z-index: 3;
    background: url('../images/falcon-bg.jpg') no-repeat center center;
    background-size: 100%;
    padding-bottom: 30px;
    @include respond-to(tablet) {
        font-size: 2rem;
    }
    @include respond-to(desktop) {
        font-size: 2.5rem;
    }
    #birdcontain {
        background: url("../images/falcon.png") no-repeat center center;
        background-size: 100%;
        margin: 0px auto;
        width: 300px;
        height: 259px;
        @include respond-to(desktop) {
            width: 450px;
            height: 388px;
        }
    }
    .location {
        width: 300px;
        text-align: center;
        position: relative;
        margin: 15px auto;
        display: block;
        padding-top: 15px;
        font-family: $sansTitle;
        color: black;
        font-size: 1.6rem;
        @include respond-to(desktop) {
            width: 400px;
            font-size: 2rem;
        }
    }

    .social {
        width: 100%;
        text-align: center;
        svg{
            margin: 0px 10px;
            cursor: pointer;
        }
    } 
    #copyright {
        width: 100%;
        text-align: center;
        font-family: $sansTitle;
        font-size: 1.2rem;
    }
}