nav {
  transform: translateY(-45px);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5rem;
  height: 45px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #1d2a40;
  z-index: 500;
  position: fixed;
  top: 0px; }
  nav .pad-left {
    padding-left: 15px; }
    @media only screen and (min-width: 401px) {
      nav .pad-left {
        padding-left: 30px; } }
  nav .pad-right {
    padding-right: 15px; }
    @media only screen and (min-width: 401px) {
      nav .pad-right {
        padding-right: 30px; } }
  nav .contact-trigger {
    cursor: pointer;
    text-transform: uppercase; }
  nav .contact-trigger-contain {
    z-index: 500;
    position: relative; }
  nav .small-logo {
    display: none; }
    @media only screen and (min-width: 768px) {
      nav .small-logo {
        cursor: pointer;
        display: inline-block;
        width: 69px;
        height: 30px;
        background: url("../images/nisos-logo-white-small.png") no-repeat;
        background-size: 69px 30px; } }
  nav #contact-drop-bg, nav #contact-drop {
    opacity: 0;
    position: absolute;
    top: 35px;
    height: 80px;
    width: 150px;
    margin-left: -80px;
    text-align: center;
    padding: 10px;
    z-index: -200;
    font-family: "Gentium Book Basic", serif; }
    @media only screen and (min-width: 768px) {
      nav #contact-drop-bg, nav #contact-drop {
        height: 50px;
        width: 190px; } }
  nav #contact-drop-bg {
    background-color: rgba(255, 255, 255, 0.9); }
  nav #contact-drop {
    color: black;
    font-size: 1.2rem; }
    @media only screen and (min-width: 768px) {
      nav #contact-drop {
        font-size: 1.6rem; } }
    nav #contact-drop a, nav #contact-drop a:visited {
      text-transform: capitalize;
      color: black;
      text-decoration: none; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; }
  nav li {
    margin-top: 10px;
    display: inline;
    float: left; }
  nav li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
    nav li a a:hover {
      color: white; }
  nav #twitterstream {
    display: none;
    float: right;
    cursor: pointer;
    margin: 10px 10px 0px 0px; }
    @media only screen and (min-width: 1025px) {
      nav #twitterstream {
        display: block; } }

#twitterstream-holder-bg {
  display: none; }
  @media only screen and (min-width: 1025px) {
    #twitterstream-holder-bg {
      display: block;
      z-index: 999;
      height: 310px;
      width: 210px;
      position: fixed;
      top: 45px;
      right: 0;
      margin-right: -210px;
      background-color: rgba(255, 255, 255, 0.7); } }

#twitterstream-holder {
  display: none; }
  @media only screen and (min-width: 1025px) {
    #twitterstream-holder {
      display: block;
      position: fixed;
      top: 50px;
      right: 10px;
      height: 300px;
      width: 190px;
      margin-right: -210px;
      z-index: 1000; } }

header {
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
  height: 100vh;
  background-image: url("../images/splash-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100vh;
  background-attachment: fixed;
  overflow: hidden; }
  @media only screen and (min-width: 1025px) {
    header {
      background-image: none; } }
  header #splash-bg {
    display: none; }
    @media only screen and (min-width: 1025px) {
      header #splash-bg {
        display: block;
        background: url("../images/splash-bg.jpg") no-repeat center center;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }
  header #birds-back {
    display: none; }
    @media only screen and (min-width: 1025px) {
      header #birds-back {
        display: block;
        background: url("../images/birds-back.png") no-repeat center center;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }
  header #tower {
    display: none; }
    @media only screen and (min-width: 1025px) {
      header #tower {
        display: block;
        background: url("../images/tower.png") no-repeat center center;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }
  header #birds-front {
    display: none; }
    @media only screen and (min-width: 1025px) {
      header #birds-front {
        display: block;
        background: url("../images/birds-front.png") no-repeat center center;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }
  header #blue-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white; }
    header #blue-bg #logo-svg-hold {
      position: absolute;
      top: 45%;
      left: 50%;
      opacity: 0;
      margin-left: -150px;
      margin-top: -66px;
      width: 300px;
      height: 132px; }
      @media only screen and (min-width: 768px) {
        header #blue-bg #logo-svg-hold {
          margin-left: -256px;
          margin-top: -112px;
          width: 512px;
          height: 224px; } }
      @media only screen and (min-width: 1025px) {
        header #blue-bg #logo-svg-hold {
          margin-left: -402px;
          margin-top: -176px;
          width: 804px;
          height: 352px; } }
      header #blue-bg #logo-svg-hold #logo-svg {
        width: 300px;
        height: 132px; }
        @media only screen and (min-width: 768px) {
          header #blue-bg #logo-svg-hold #logo-svg {
            width: 512px;
            height: 224px; } }
        @media only screen and (min-width: 1025px) {
          header #blue-bg #logo-svg-hold #logo-svg {
            width: 804px;
            height: 352px; } }
    header #blue-bg #slogan {
      position: absolute;
      bottom: 10%;
      left: 50%;
      width: 300px;
      height: 15px;
      margin-left: -150px; }
      @media only screen and (min-width: 768px) {
        header #blue-bg #slogan {
          width: 600px;
          height: 30px;
          margin-left: -300px; } }
      @media only screen and (min-width: 1025px) {
        header #blue-bg #slogan {
          width: 800px;
          height: 40px;
          margin-left: -400px; } }
      header #blue-bg #slogan #slogan-svg {
        width: 300px;
        height: 15px; }
        @media only screen and (min-width: 768px) {
          header #blue-bg #slogan #slogan-svg {
            width: 600px;
            height: 30px; } }
        @media only screen and (min-width: 1025px) {
          header #blue-bg #slogan #slogan-svg {
            width: 800px;
            height: 40px; } }

.slogans {
  height: 25px;
  width: 269px;
  position: relative;
  margin: 20px auto; }
  @media only screen and (min-width: 768px) {
    .slogans {
      width: 400px;
      height: 38px; } }
  @media only screen and (min-width: 1025px) {
    .slogans {
      width: 590px;
      height: 55px; } }
  .slogans .slogan-svg {
    width: 269px;
    position: absolute;
    bottom: 0; }
    @media only screen and (min-width: 768px) {
      .slogans .slogan-svg {
        width: 400px; } }
    @media only screen and (min-width: 1025px) {
      .slogans .slogan-svg {
        width: 590px; } }

.slogans-long {
  height: 25px;
  width: 300px;
  position: relative;
  margin: 20px auto; }
  @media only screen and (min-width: 768px) {
    .slogans-long {
      width: 470px;
      height: 38px; } }
  @media only screen and (min-width: 1025px) {
    .slogans-long {
      width: 680px;
      height: 55px; } }
  .slogans-long .slogan-long-svg {
    width: 300px;
    position: absolute;
    bottom: 0; }
    @media only screen and (min-width: 768px) {
      .slogans-long .slogan-long-svg {
        width: 470px; } }
    @media only screen and (min-width: 1025px) {
      .slogans-long .slogan-long-svg {
        width: 680px; } }

#problem {
  position: relative;
  background-color: #1d2a40;
  z-index: 3;
  display: block;
  overflow: hidden;
  padding-bottom: 40px; }
  #problem #slogan-2-1-underline, #problem #slogan-2-2-underline {
    height: 10px;
    width: 300px;
    position: relative;
    margin: 20px auto 40px; }
    @media only screen and (min-width: 768px) {
      #problem #slogan-2-1-underline, #problem #slogan-2-2-underline {
        width: 400px;
        height: 10px; } }
    @media only screen and (min-width: 1025px) {
      #problem #slogan-2-1-underline, #problem #slogan-2-2-underline {
        width: 500px;
        height: 10px; } }
    #problem #slogan-2-1-underline #slogan-2-1-underline-svg, #problem #slogan-2-1-underline #slogan-2-2-underline-svg, #problem #slogan-2-2-underline #slogan-2-1-underline-svg, #problem #slogan-2-2-underline #slogan-2-2-underline-svg {
      width: 300px;
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 768px) {
        #problem #slogan-2-1-underline #slogan-2-1-underline-svg, #problem #slogan-2-1-underline #slogan-2-2-underline-svg, #problem #slogan-2-2-underline #slogan-2-1-underline-svg, #problem #slogan-2-2-underline #slogan-2-2-underline-svg {
          width: 400px; } }
      @media only screen and (min-width: 1025px) {
        #problem #slogan-2-1-underline #slogan-2-1-underline-svg, #problem #slogan-2-1-underline #slogan-2-2-underline-svg, #problem #slogan-2-2-underline #slogan-2-1-underline-svg, #problem #slogan-2-2-underline #slogan-2-2-underline-svg {
          width: 500px; } }
  #problem #mission-content {
    font-weight: 400;
    font-family: "Gentium Book Basic", serif;
    font-size: 1.6rem;
    color: white;
    margin: 0px auto 40px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #problem #mission-content {
        font-size: 1.8rem; } }
    @media only screen and (min-width: 1025px) {
      #problem #mission-content {
        font-size: 2.5rem; } }
    #problem #mission-content .threat-para {
      position: relative;
      display: block;
      opacity: 0;
      margin: 0px auto 20px auto; }
      @media only screen and (min-width: 1025px) {
        #problem #mission-content .threat-para {
          width: 960px;
          margin: 0px auto 40px auto; } }
      #problem #mission-content .threat-para .threat-para-strong {
        font-weight: 400;
        font-family: "Gentium Book Basic", serif;
        text-transform: uppercase; }

.shoutquote {
  width: 250px;
  font-weight: bold;
  text-align: center;
  position: static;
  z-index: 0;
  font-size: 1.8rem;
  opacity: 1;
  margin: 0px auto;
  padding: 60px 0px; }
  @media only screen and (min-width: 1025px) {
    .shoutquote {
      width: 450px;
      padding: 60px 80px;
      font-size: 2rem; } }

#raison {
  position: relative;
  background-color: #1d2a40;
  color: white;
  z-index: 3;
  display: block;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.6rem; }
  @media only screen and (min-width: 768px) {
    #raison {
      font-size: 2rem; } }
  @media only screen and (min-width: 1025px) {
    #raison {
      font-size: 2.5rem; } }
  #raison #raison-splash {
    width: 100%;
    height: 70vh;
    display: block;
    background: url("../images/NYC.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: scroll; }
    @media only screen and (min-width: 1025px) {
      #raison #raison-splash {
        height: 80vh;
        background-attachment: fixed; } }
    #raison #raison-splash #quote-1 {
      display: block;
      font-family: "Gentium Book Basic", serif;
      color: white;
      text-shadow: 2px 2px 2px black; }
      @media only screen and (min-width: 1025px) {
        #raison #raison-splash #quote-1 {
          float: left; } }
  #raison #slogan-3-underline {
    height: 10px;
    width: 200px;
    position: relative;
    margin: 20px auto 40px; }
    @media only screen and (min-width: 768px) {
      #raison #slogan-3-underline {
        width: 200px;
        height: 10px; } }
    @media only screen and (min-width: 1025px) {
      #raison #slogan-3-underline {
        width: 200px;
        height: 10px; } }
    #raison #slogan-3-underline #slogan-3-underline-svg {
      width: 200px;
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 768px) {
        #raison #slogan-3-underline #slogan-3-underline-svg {
          width: 200px; } }
      @media only screen and (min-width: 1025px) {
        #raison #slogan-3-underline #slogan-3-underline-svg {
          width: 200px; } }
  #raison #slogan-3-1-underline {
    height: 10px;
    width: 200px;
    position: relative;
    margin: 20px auto 40px; }
    @media only screen and (min-width: 768px) {
      #raison #slogan-3-1-underline {
        width: 200px;
        height: 10px; } }
    @media only screen and (min-width: 1025px) {
      #raison #slogan-3-1-underline {
        width: 200px;
        height: 10px; } }
    #raison #slogan-3-1-underline #slogan-3-1-underline-svg {
      width: 200px;
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 768px) {
        #raison #slogan-3-1-underline #slogan-3-1-underline-svg {
          width: 200px; } }
      @media only screen and (min-width: 1025px) {
        #raison #slogan-3-1-underline #slogan-3-1-underline-svg {
          width: 200px; } }
  @media only screen and (min-width: 768px) {
    #raison #reasons {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1025px) {
    #raison #reasons {
      margin-bottom: 20px; } }
  #raison #reasons .reason {
    text-align: center;
    opacity: 0; }

.nisosbird {
  margin: 40px auto -35px;
  height: 80px;
  text-align: center; }
  .nisosbird img {
    height: 80px; }

#approach {
  position: relative;
  background-color: #1d2a40;
  color: white;
  width: 100%;
  z-index: 3;
  font-size: 1.6rem;
  padding-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    #approach {
      font-size: 2rem; } }
  @media only screen and (min-width: 1025px) {
    #approach {
      font-size: 2.5rem; } }
  #approach #approach-splash {
    width: 100%;
    display: block;
    height: 70vh;
    background: url("../images/industrial.jpg") no-repeat center right;
    background-size: cover;
    background-attachment: scroll; }
    @media only screen and (min-width: 1025px) {
      #approach #approach-splash {
        height: 80vh;
        background-attachment: fixed; } }
    #approach #approach-splash #quote-2 {
      display: block;
      font-family: "Gentium Book Basic", serif;
      color: white;
      text-shadow: 2px 2px 2px black; }
      @media only screen and (min-width: 1025px) {
        #approach #approach-splash #quote-2 {
          float: right;
          color: black; } }
  #approach #slogan-4-underline, #approach #slogan-4-1-underline {
    height: 10px;
    width: 200px;
    position: relative;
    margin: 20px auto 40px; }
    @media only screen and (min-width: 768px) {
      #approach #slogan-4-underline, #approach #slogan-4-1-underline {
        width: 200px;
        height: 10px; } }
    @media only screen and (min-width: 1025px) {
      #approach #slogan-4-underline, #approach #slogan-4-1-underline {
        width: 200px;
        height: 10px; } }
    #approach #slogan-4-underline #slogan-4-underline-svg, #approach #slogan-4-underline #slogan-4-1-underline-svg, #approach #slogan-4-1-underline #slogan-4-underline-svg, #approach #slogan-4-1-underline #slogan-4-1-underline-svg {
      width: 200px;
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 768px) {
        #approach #slogan-4-underline #slogan-4-underline-svg, #approach #slogan-4-underline #slogan-4-1-underline-svg, #approach #slogan-4-1-underline #slogan-4-underline-svg, #approach #slogan-4-1-underline #slogan-4-1-underline-svg {
          width: 200px; } }
      @media only screen and (min-width: 1025px) {
        #approach #slogan-4-underline #slogan-4-underline-svg, #approach #slogan-4-underline #slogan-4-1-underline-svg, #approach #slogan-4-1-underline #slogan-4-underline-svg, #approach #slogan-4-1-underline #slogan-4-1-underline-svg {
          width: 200px; } }
  #approach .stos {
    font-family: "Gentium Book Basic", serif;
    text-align: center;
    opacity: 0; }
  #approach .sto-title {
    width: 100%;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 18px; }
  #approach .sto-cont {
    display: block;
    width: 100%;
    clear: both; }
    #approach .sto-cont .sto {
      text-transform: uppercase;
      width: 260px;
      display: block;
      float: left;
      padding-left: 20px; }
    #approach .sto-cont .sto-desc {
      float: left;
      display: block;
      width: 680px;
      padding: 0px 0px 20px 0px; }
      #approach .sto-cont .sto-desc li {
        margin-bottom: 0px;
        margin-left: 10px;
        list-style-type: circle;
        list-style-position: inside; }

#discretion {
  position: relative;
  background-color: #1d2a40;
  width: 100%;
  z-index: 3;
  font-size: 1.6rem;
  padding-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    #discretion {
      font-size: 2rem; } }
  @media only screen and (min-width: 1025px) {
    #discretion {
      font-size: 2.5rem; } }
  #discretion #discretion-splash {
    width: 100%;
    display: block;
    height: 70vh;
    background: url("../images/oilrigs.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: scroll; }
    @media only screen and (min-width: 1025px) {
      #discretion #discretion-splash {
        height: 80vh;
        background-attachment: fixed; } }
    #discretion #discretion-splash #quote-3 {
      display: block;
      font-family: "Gentium Book Basic", serif;
      color: white;
      text-shadow: 2px 2px 2px black; }
      @media only screen and (min-width: 1025px) {
        #discretion #discretion-splash #quote-3 {
          float: left; } }
  #discretion #slogan-5-underline, #discretion #slogan-5-1-underline {
    height: 10px;
    width: 200px;
    position: relative;
    margin: 20px auto 40px; }
    @media only screen and (min-width: 768px) {
      #discretion #slogan-5-underline, #discretion #slogan-5-1-underline {
        width: 200px;
        height: 10px; } }
    @media only screen and (min-width: 1025px) {
      #discretion #slogan-5-underline, #discretion #slogan-5-1-underline {
        width: 200px;
        height: 10px; } }
    #discretion #slogan-5-underline #slogan-5-underline-svg, #discretion #slogan-5-underline #slogan-5-1-underline-svg, #discretion #slogan-5-1-underline #slogan-5-underline-svg, #discretion #slogan-5-1-underline #slogan-5-1-underline-svg {
      width: 200px;
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 768px) {
        #discretion #slogan-5-underline #slogan-5-underline-svg, #discretion #slogan-5-underline #slogan-5-1-underline-svg, #discretion #slogan-5-1-underline #slogan-5-underline-svg, #discretion #slogan-5-1-underline #slogan-5-1-underline-svg {
          width: 200px; } }
      @media only screen and (min-width: 1025px) {
        #discretion #slogan-5-underline #slogan-5-underline-svg, #discretion #slogan-5-underline #slogan-5-1-underline-svg, #discretion #slogan-5-1-underline #slogan-5-underline-svg, #discretion #slogan-5-1-underline #slogan-5-1-underline-svg {
          width: 200px; } }
  #discretion #pitch {
    text-align: center;
    color: white;
    font-family: "Gentium Book Basic", serif; }
  #discretion .pitches {
    opacity: 0; }

#osprey-end {
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  z-index: 3;
  background: url("../images/falcon-bg.jpg") no-repeat center center;
  background-size: 100%;
  padding-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    #osprey-end {
      font-size: 2rem; } }
  @media only screen and (min-width: 1025px) {
    #osprey-end {
      font-size: 2.5rem; } }
  #osprey-end #birdcontain {
    background: url("../images/falcon.png") no-repeat center center;
    background-size: 100%;
    margin: 0px auto;
    width: 300px;
    height: 259px; }
    @media only screen and (min-width: 1025px) {
      #osprey-end #birdcontain {
        width: 450px;
        height: 388px; } }
  #osprey-end .location {
    width: 300px;
    text-align: center;
    position: relative;
    margin: 15px auto;
    display: block;
    padding-top: 15px;
    font-family: "PT Sans Narrow", sans-serif;
    color: black;
    font-size: 1.6rem; }
    @media only screen and (min-width: 1025px) {
      #osprey-end .location {
        width: 400px;
        font-size: 2rem; } }
  #osprey-end .social {
    width: 100%;
    text-align: center; }
    #osprey-end .social svg {
      margin: 0px 10px;
      cursor: pointer; }
  #osprey-end #copyright {
    width: 100%;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.2rem; }
